<h1>Bookmark a Movie for <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-group">
    <%= f.label :movie_id, "Select a movie to bookmark" %>
    <%= f.association :movie, collection: @movies, label_method: :title, value_method: :id, prompt: true, input_html: { class: "form-control" } %>
  </div>
  <div>
    <%= f.submit "Bookmark Movie", class: "btn btn-primary" %>
  </div>
<% end %>
